# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
develop-eggs/
dist/
downloads/
eggs/
.eggs/
# lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Flask instance folder
instance/
.webassets-cache

# Logs and temp files
*.log
*.tmp

# Scrapy stuff
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
Pipfile.lock

# poetry
poetry.lock

# PEP 582
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
Lib\site-packages

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# Flutter build directory
.flutter/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

# Dart/Flutter specific directories
.dart_tool/
.dart_tools/

# Web-related files
web/renderer/
build/web/

# Flutter/Dart pub cache
.pub-cache/
.pub/
pubspec.lock

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db

# VS Code workspace settings
.vscode/

# IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws

# Temporary files
*.swp

# Node.js
node_modules/

# CSV files
*.csv
!stock_market.csv
!result*.csv
data*.csv
audit*.json
*.json
static/projects/*.json

!depart*.csv
!project*.csv
!contract*.csv
!audit*.csv
!combined_report_*.csv

# Other Flutter build directories
android/build/
ios/Flutter/Flutter.framework
ios/.symlinks/
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
ios/Flutter/GeneratedPluginRegistrant.*

# Miscellaneous
*.class
*.log
*.pyc
*.swp
*.tmp
.DS_Store
.buildlog/
.history
.svn/

# Google Drive and sensitive files
storage.json
client_secret_googledrive.json

# Keystore files
*.jks
*.keystore
key.properties
**/upload-keystore.jks
**/upload-keystore.jks.old
**/android/key.properties