aiofiles
aiohttp
certifi
discord.py
finance-datareader
Flask
Flask-Cors
Flask-Discord
gunicorn
GitPython
google-cloud-secret-manager
google-generativeai
investpy
matplotlib
mojito2
mplchart
nest-asyncio
numpy==1.26.4
openai
pandas==2.2.1
pandas-market-calendars
pandas-ta==0.3.14b0
Pillow
plotly
pywin32==308
PyYAML
python-dotenv
quart
quart-cors
requests
scikit-learn
seaborn
squarify
tabulate
tradingview-ta
yfinance
orjson
diskcache
psutil
pytest
pytest-asyncio
aiofiles
tavily-python
